<base href="/bugyo">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="ts-app-title" content="Header" />
<meta name="ts-app-color" content="ts-blue" />
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="/obc/css/bulma.css" />
<link rel='stylesheet' href='/obc/css/bulma-tooltip.min.css' />
<link rel="stylesheet" href="/obc/css/style.css" />
<script src="/obc/js/jquery.min.js"></script>
