<nav class="navbar is-fixed-top obc-connect" role="navigation" aria-label="main navigation">
	<div class="navbar-brand is-family-noto-sans-bold">
		<a class="navbar-item" href="/bugyo/portal">BConnectionデジタルトレード</a>
		<a class="navbar-item" href="/bugyo/menu">商奉行クラウド連携トップ</a>
		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
		<div class="navbar-item is-hidden-desktop">
			<img width="112" height="28" src="/obc/images/ts-app-digitaltrade-ncom-logo.svg">
		</div>
	</div>
	<div class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="/bugyo/invoice_format_list">請求書フォーマット管理</a>
			<a class="navbar-item" href="/bugyo/settings_connection">発行先管理</a>
			<a class="navbar-item" href="/bugyo/send_invoice">請求書発行</a>
		</div>
		<div class="navbar-end">
			<div class="navbar-item is-hidden-touch">
				<img width="112" height="28" src="/obc/images/ts-app-digitaltrade-ncom-logo.svg">
			</div>
		</div>
	</div>
</nav>
<script src="obc/js/header.js"></script>
