if prevUser.message.length !== 0
 .box
   .columns.m-0
     .column-header#prevUserMessage
       | #{prevUser.name}さんからのメッセージ
   .columns.m-0
     .column-header.text-inbox-common
       | #{prevUser.message}