extends layout

block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans 承認ルート一覧
        .subtitle.is-family-noto-sans APPROVEROUTE LIST      
    
    input(type="hidden" name="_csrf" value=csrfToken)
    
    .columns.is-centered
      .column.is-11
        a.button.is-link.mb-4(href="/registApproveRoute") 新規登録する
        .box
          if approveRouteListArr.length === 0
            p 現在、承認ルートはありません。
            p 新規登録するボタンから登録を行って下さい。
          else
            table.table.is-fullwidth.is-hoverable.table-fixed
              thead
                tr
                  th.width-5.text-center No
                  th.width-25.text-center 承認ルート名
                  th.width-8.text-center 登録されている承認者数
                  th.width-8.text-center 
                  th.width-5.text-center 
              tbody
                - var list = approveRouteListArr
                each item in list
                  tr
                    th.text-center= item.No
                    td.text-center.td-overflow= item.approveRouteName
                    td.text-center= item.approverCount                
                    td.text-center
                      a.button.is-success.confirmButton(name='confirmButton' uuid= item.uuid) 確認・変更する
                    td.text-center
                      a.button.is-danger.show-modal(type = "button" name = 'deleteButton' data-target = "confirationDelete-modal" uuid= item.uuid) 削除
        .mt-1.has-text-left
          a.button.is-link.is-light(href="/portal") ←Homeへ戻る

        .modal.modal-fx-fadeInscale#confirationDelete-modal
              .modal-background.cancel-button(data-target="confirationDelete-modal")
              .modal-card
                header.modal-card-head
                  p.modal-card-title 承認ルート削除
                  button.delete(type="button" data-target="confirationDelete-modal")
                section.modal-card-body
                  p 削除しますか？
                footer.modal-card-foot
                  div.button-area
                    a.button.cancel-button(data-target='confirationDelete-modal') キャンセル
                    a.button.is-danger.ml-6#modalDelBtn(name='modalDelBtn') 削除

    include footer

block append scripts
  script(src="/js/approveRouteList-page.js")