extends layout

block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans 契約情報解約
        .subtitle.is-family-noto-sans CONTRACT CANCELLATION

    .columns.is-centered
      .column.is-11
        .container.is-max-widescreen.is-family-noto-sans
          form#form(action="#")
            input(type='hidden' name='_csrf' value=csrfToken)
            article.panel.is-info
              h2.panel-heading 解約
              .panel-block
                .container
                  p.title.is-5 解約する前に以下の内容をご確認ください。
                  p ・デジタルトレードアプリ解約後は、デジタルトレードアプリで提供中のすべてのサービスがご利用できなくなります。
                  p ・デジタルトレードアプリ解約後もTradeshiftはそのままご利用いただけます。
                  p ・デジタルトレードアプリの解約申請申し込み後の取り消しはお受けできません。
                  p ・お客さまデータは規約に基づき取り扱いさせていただきます。
                  .columns.is-centered: .column.is-four-fifths
                    .field.is-grouped.is-grouped-centered
                      .control
                        div.button-area
                          a.button.is-link.mr-6#cancelltion-button(type="submit") 次へ
                          a.button#return-btn.cancel-button(href='portal') 戻る

            .modal.modal-fx-fadeInScale#cancellation-modal
              .modal-background.cancel-button(data-target='cancellation-modal')

              .modal-card
                header.modal-card-head
                  p.modal-card-title 以下の内容で解約します。
                  button.delete(type="button" data-target="cancellation-modal")
                section.modal-card-body
                  table.table.is-fullwidth.is-bordered
                    tbody
                      tr
                        th(colspan="2") サービス情報
                      tr
                        td.confirmation-item サービス名
                        td BConnectionデジタルトレードアプリ
                      tr
                        td.confirmation-item お客様番号
                        td #{numberN}
                  p.has-text-danger 下記の「解約」ボタンを押下した後の取り消しはできません。

                footer.modal-card-foot
                  div.button-area
                    a.button.cancel-button.mr-6(data-target='cancellation-modal') キャンセル
                    button.button.is-success#submit.success-button(type="submit" formaction="/cancellation" formmethod="POST") 解約
  include footer

block append scripts
  script(src="/js/cancellation-page.js")
