extends layout
block content
  .hero.is-large
    .hero-body
      .container

  .section.is-overlay.mt-6
    .container.is-max-widescreen.is-family-noto-sans
      form#form(action="#")
        article.panel.is-info
          h2.panel-heading 契約情報変更
          .panel-block
            .container  
              .field.card
                .card-content
                  h5.title.is-5 変更パターンを選択してください。
                  .columns.is-centered.column.is-three-quarters
                    .column 
                      h5.subtitle.is-5 変更パターン
                    .column
                      label.checkbox
                        input#chkContractName(type='checkbox' name='chkContractName' checked=false required)
                        label(for='chkContractName') 契約者名変更
           
              .field.card.is-invisible#cardContractName
                .card-content
                  .title.is-4  契約者名変更
                  .field
                    .control
                      label.is-one-third(for='contractName') 契約者名（企業名）（必須）
                      input.input#contractName.is-one-third(type='text' name='contractName' value pattern=inputPattarnZenkaku required placeholder='全角文字')
                      
                  .field
                    .control
                      label(for='contractKanaName') 契約者カナ名（企業名）（必須）
                      input.input#contractKanaName(type='text' name="contractKanaName"  value pattern=inputPattarnZenkakuKatakana required placeholder='カタカナ')
              .columns.is-centered.changeConfirm
                .control
                  .column
                    a.button.is-link#return-btn.ml-3.mr-3(href="portal") 戻る
                    button.button.is-success#next-btn.ml-3.mr-3(type="submit" data-target="confirmmodify-modal" disabled) 確認
       
            .modal.modal-fx-fadeInscale#confirmmodify-modal
              .modal-background.cancel-button(data-target="confirmmodify-modal")
              .modal-card
                header.modal-card-head
                  p.modal-card-title 契約情報変更
                  button.delete(type="button" data-target="confirmmodify-modal")
                section.modal-card-body
                  table.table.is-fullwidth.is-bordered
                    tbody
                      tr
                        th(colspan="3") 契約者名変更
                      tr
                        td.confirmation-item(colspan="2") 契約者名（企業名）（必須）
                        td#recontractName.checkData
                      tr 
                        td.confirmation-item(colspan="2")  契約者カナ名（企業名）（必須）
                        td#recontractKanaName.checkData
                footer.modal-card-foot
                  a.button.cancel-button(data-target='confirmmodify-modal') 修正
                  button.button.is-success#submit(type="submit" formaction="/change" formmethod="POST") 変更
                    
  include footer

block append scripts
  script(src="/js/change-page.js")
