extends layout

block content
  section.section.is-medium
    .container
      .colums.is-vcentered
        .colum.has-text-centered
          h1.title= status+" "+title
          p.subtitle= message
      - if (error.stack) 
        pre #{error.stack}