extends layout

block content
  section.section.is-medium
    .container
      .colums.is-vcentered
        .colum.has-text-centered
          p.subtitle= message
          - if (description)
          p.subtitle.is-6= description