extends layout

block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans 印影登録
        .subtitle.is-family-noto-sans sealImp UPLOAD for PDF

    .columns.is-centered
      .column.is-11
        .box
          .columns.is-centered
            .column.is-10
              .columns
                .column.is-one-third
                  img.img-256.ml-5#sealImpImg(src = sealImp ? sealImp : '/image/ts-app-digitaltrade-func-icon-file-select.svg' width='256' height='256')
                .column.ml-3
                  p.mt-2 PDFに挿入する印影を登録することができます。
                  form.columns.my-3.mx-0(action="#")
                    input.input.mr-2#filename(type="text" name="filename" readonly)
                    label.button.is-link.ml-2.mr-2(for="file-upload") ファイル選択
                    input(type='file' id="file-upload" name="fileUpload" accept=".png,.jpeg")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    .button.is-link.is-outlined.is-family-noto-sans.ml-2(disabled='disabled', id='start-upload-btn') アップロード
                  p ※対応ファイル形式
                  p 　拡張子：png, jpeg
                  p 　サイズ(推奨)：150px × 150px
                  p 　大きさ：1MB以下
                  form(action="#")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    button.button.is-danger.mt-5#delete-btn(disabled= sealImp ? false : 'disabled' type="submit" formaction="/imprintUpload/delete" formmethod="POST") 登録済み印影の削除

        .modal.modal-fx-fadeInscale#upload-progress-modal
          .modal-background
          .modal-card
            header.modal-card-head
              p.modal-card-title
            section.modal-card-body
              center
                p.modal-card-result#modal-card-result アップロード中
            footer.modal-card-foot

        .mt-1.space-between
          a.button.is-link.is-light.has-text-left(href='/pdfInvoices/list') ← ドラフト一覧 

  include footer

block append scripts
  script(src="/js/lib/utils.js")
  script(src="/js/services/pdfInvoice.js")
  script(src="/js/portal-page.js")
  script(src="/js/imprintUpload-page.js") 
