.modal#information-lightplan
  .modal-background.cancel-button(data-target='information-lightplan')
  .modal-card.is-family-noto-sans
    header.modal-card-head
      p.modal-card-title.title.mb-0 オプションサービス申込
      button.delete(data-target="information-lightplan")
    section.modal-card-body
      .is-flex.opSelect.is-justify-content-space-between
        a(href='#stPlan') スタンダードプラン
          span
        a(href='#inService') 導入支援サービス
          span
      h2#stPlan スタンダードプランについて
      p.mt-3.px-4 スタンダートプランは、請求書の電子化を通じてインボイス制度や電子帳簿保存法といった法制度への対応のみならず、高い費用対効果で請求書業務の効率化を実現したいお客さま向けのプランです。ご要望の多い機能を大きな負担なくご利用いただけます。 
      .columns.text-center.mx-0 
        .column.planWrap.pr-2.pl-0 
          .freeColor
            h3.has-text-weight-bold.py-3 フリー
            p.pb-3.has-text-left.mx-4
              | 無料で請求書の電子化<br>​
              | インボイス制度や電子帳簿保存法に対応​<br>
              | 受取請求書目安：～100件/月
            .planBody 
              span.is-block.has-text-weight-bold.planBodyPrice.pt-0.pb-2
                | <span class="mr-1">0</span>円  
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">電子請求書の作成・発行・受取・保管が可能</span>
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">受取請求書の支払依頼や承認が可能</span>                    
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">勘定科目や補助科目を支払依頼に追加する機能も利用可能</span>                    
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">仕訳情報をCSV形式でダウンロード可能（フォーマット固定）</span>                    
              p.has-text-right.mt-5.pr-4 など
        .column.planWrap.px-0
          .stanColor
            h3.has-text-weight-bold.py-3 スタンダード
            p.pb-3.has-text-left.mx-4
              | 請求書の電子化と一緒に、高い費用対効果で業務効率化を実現​​<br>
              | 受取請求書目安：100～500件/月
            .planBody 
              span.is-block.has-text-weight-bold.planBodyPrice.pt-0.pb-2
                | 月額利用料 <span class="mr-1">4</span>万円
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">フリープランの機能はすべて利用可能</span>
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">クラウド会計システムに対応したフォーマットで仕訳情報CSVをダウンロード</span>                    
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">請求書受取時に担当者へメール通知（請求書に担当者メールアドレスが記載されている場合）</span>                    
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">支払依頼の検索が可能</span>                    
              p.has-text-right.mt-5.pr-4 など                  
        .column.planWrap.pl-2.pr-0
          .freeColor 
            h3.has-text-weight-bold.py-3 エンタープライズ
            p.pb-3.has-text-left.mx-4
              | お使いの基幹システムと請求データを自動連携​<br>​
              | 請求業務の自動化と効率化を実現​​<br>
              | 受取請求書目安：500件～/月​
            .planBody 
              span.is-block.has-text-weight-bold.planBodyPrice 御見積り
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">販売管理システムや会計システムとデータ連携、稼働やミスの削減</span>
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">カスタマイズされた支払依頼承認フローを構築</span>                    
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">請求書へのアクセス権を組織・ユーザーごとに設定することでガバナンス強化</span>                    
              p.is-flex.m-2 
                | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">その他貴社の業務に沿うようにカスタマイズした機能をご提供</span>                  
      p.px-4.my-5 ※フリープランとスタンダードプランは、下記の導入支援サービスにお申し込み頂くことでセットアップのサポートをいたします。          
      .mb-4.btnWrap.is-block.text-center
        a.button.mr-1.is-success.show-modal(href='https://www.ntt.com/business/services/application/crm-dm/bconnection.html#plan' target='_blank') オプションサービス詳細   
        if (userRole === "a6a3edcd-00d9-427c-bf03-4ef0112ba16d")
          if (contractPlan.isLightPlan === true || contractPlan.isLightPlanForEntry === true)
            a.button.ml-1.is-can.show-modal(data-target='' disabled) お申込みフォーム
          else
            a.button.ml-1.is-success.show-modal(href='/paidServiceRegister/030') お申込みフォーム
        else
          a.button.ml-1.is-can.show-modal(data-target='' disabled) お申込みフォーム
      p.text-center.cauText ※有料オプションはテナント管理者のみお申込み可能です。  
      h2#inService.mt-6 導入支援サービスについて
      p.mt-3.px-4 
        | 導入支援サービスは、フリープラン、スタンダードプランをお申込みのお客様の環境につきまして、​<br>
        | それぞれのプランで提供される機能の登録や設定を支援・代行するサービスです。<br>
        | （オプションとして個別マニュアル作成や説明会も実施します）​<br>
        | 利用開始にあたっての必要な登録や設定を実施いたしますので、設定等完了後はすぐにお使います。
      .planBody.noHeight 
        p.has-text-weight-bold 料金（導入支援サービスご利用1回あたり） 
        p.is-flex.mx-2.mt-2.mb-0 
          | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">フリープランをご利用の方　5万円～</span>
        p.is-flex.mx-2.mt-0.mb-2
          | <span class="panel-icon"><i class="fas fa-check"></i></span><span class="planBodyText has-text-left">スタンダードプランをご利用の方　15万円～</span>  
      img(src='../image/informationLightplanModal.svg' alt='フロー図').flowImg
      .mb-4.btnWrap.is-block.text-center
        a.button.mr-1.is-success.show-modal(href='https://www.ntt.com/business/services/application/crm-dm/bconnection/support_program.html' target='_blank') オプションサービス詳細   
        if (userRole === "a6a3edcd-00d9-427c-bf03-4ef0112ba16d")
          if (contractPlan.isIntroductionSupportPlanForEntry === true)
            a.button.ml-1.is-can.show-modal(data-target='' disabled) お申込みフォーム
          else
            a.button.ml-1.is-success.show-modal(href='/paidServiceRegister/020') お申込みフォーム
        else
          a.button.ml-1.is-can.show-modal(data-target='' disabled) お申込みフォーム
      p.text-center.cauText ※有料オプションはテナント管理者のみお申込み可能です。
      
    footer.modal-card-foot

block append scripts
  link(rel='stylesheet', type='text/css', href='/css/informationLightplanModal.css')
  