.modal.modal-fx-fadeInscale#information-lightplan
  .modal-background.cancel-button(data-target="information-lightplan")
  .modal-card
    header.modal-card-head
      p.modal-card-title オプションサービス申込
      button.delete(type="button" data-target="information-lightplan")
    section.modal-card-body
      p.modal-card-result#modal-card-checkStatus
        | 本アプリの一部機能（鍵アイコン表示）は「スタンダードプラン」にお申込みいただくことでご利用可能です。
      br
      p.subtitle
        | スタンダードプラン加入後にご利用いただける機能
      p.ml-3 ・担当者への請求書受領のメール通知
      p.ml-3 ・支払依頼の検索
      p.ml-3 ・クラウドERPフォーマットでの仕訳情報ダウンロード
      br
      p 「導入支援サービス」についてもこちらからお申し込みいただけます。
      .grouped-button
          a.button.is-success(href="https://www.ntt.com/business/services/application/crm-dm/bconnection.html" target='_blank') オプションサービス詳細
          a.button.is-success(href="") お申込みフォーム
    footer.modal-card-foot
      .button-area

block append scripts
  link(rel='stylesheet', type='text/css', href='/css/informationLightplanModal.css')