block content
  .columns.is-centered
      .column.is-11
          .box
            .box
              table.max-width
                thead.max-width
                  tr.max-width
                    th.width-10  請求日
                    th.width-10  課税日
                    th.width-10  予約番号
                    th.width-10  通貨
                tbody
                  tr
                    td.td-overflow 22/01/04
                    td.td-overflow 22/01/05
                    td.td-overflow 予約番号
                    td.td-overflow 円                
                thead
                  tr
                    th.width-10 支払期日
                    th.width-10 注文書番号
                    th.width-10 注文書発行日
                    th.width-10 参考情報
                tbody
                  tr
                    td.td-overflow 22/01/9
                    td.td-overflow 注文書番号
                    td.td-overflow 22/01/05
                    td.td-overflow 参考情報
                thead
                  tr
                    th.width-10 契約書番号
                    th.width-10 部門
                    th.width-10 納品日
                    th.width-10 納品開始日
                tbody
                  tr
                    td.td-overflow 契約書番号
                    td.td-overflow 部門
                    td.td-overflow 22/01/05
                    td.td-overflow 22/01/05
                thead
                  tr
                    th.width-10 納品終了日
                    th.width-10 ID
                    th.width-10 納期
                    th.width-10 輸送情報
                tbody
                  tr
                    td.td-overflow 22/01/9
                    td.td-overflow ID
                    td.td-overflow 納期
                    td.td-overflow 輸送情報                 
                thead
                  tr
                    th.width-10 販売者の手数料番号
                    th.width-10 DUNSナンバー
                    th.width-10 取引先担当者(アドレス)

                tbody
                  tr
                    td.td-overflow 販売者の手数料番号
                    td.td-overflow DUNSナンバー
                    td.td-overflow 取引先担当者(アドレス)
                thead
                  tr
                    th.width-10 暫定時間
                    th.width-10 通関識別情報
                    th.width-10 Tradeshiftクリアランス

                tbody
                  tr
                    td.td-overflow 22/01/9
                    td.td-overflow 通関識別情報
                    td.td-overflow Tradeshiftクリアランス                         
                thead
                  tr
                    th.width-10 備考
                tbody
                  tr
                    td.td-overflow 備考
              hr
              table
                thead
                  tr
                    th.width-10 その他特記事項
                tbody
                  tr
                    td.td-overflow その他特記事項             