.columns.m-0
  .column.is-half
    p.title.is-10 請求書
  .column.is-half
    .column.text-right
      if sealImpSrc
        input(type='file' id='file-sealImp')
        label(id="file-sealImp-label" for="file-sealImp") 
            img#sealImp(src = sealImpSrc width='256' height='256')
      if logoSrc
        img.ml-5(src = logoSrc width='256' height='256')

div.margin-top-20#header-error

.columns.m-0 
  .column
    p.font-bold 宛先
    if editing 
      input.input.width-330px.font-bold(data-prop='recCompany' id='invoice-recCompany' type='text' placeholder='宛先企業名(半角全角 200文字)')
      input.input.width-330px(data-prop='recPost' id='invoice-recPost' type='text' placeholder='郵便番号(数字7桁(000-0000))')
      input.input.width-330px(data-prop='recAddr1' id='invoice-recAddr1' type='text' placeholder='都道府県(半角全角 10文字)')
      input.input.width-330px(data-prop='recAddr2' id='invoice-recAddr2' type='text' placeholder='住所(半角全角 50文字)')
      input.input.width-330px(data-prop='recAddr3' id='invoice-recAddr3' type='text' placeholder='ビル名/フロア等(半角全角 50文字)')
    else
      p.width-250pxfont-bold#invoice-recCompany
      p.width-250px#invoice-recPost
      p.width-250px#invoice-recAddr1
      p.width-250px#invoice-recAddr2
      p.width-250px#invoice-recAddr3
  .column
      p.font-bold 差出人
      p.width-250pxfont-bold#invoice-sendCompany
      p.width-250px#invoice-sendPost
      p.width-250px#invoice-sendAddr1
      p.width-250px#invoice-sendAddr2
      p.width-250px#invoice-sendAddr3
  .column 
    p.font-bold 請求書番号
    if editing
      input.input.width-330px(data-prop='invoiceNo' id='invoice-invoiceNo' type='text' placeholder='請求書番号(半角英数 50文字)')
    else
      p.width-330px#invoice-invoiceNo
    div
      div.float-left.mr-r-10px
        label(for="invoic-billingDate") 請求日
        br
        if editing
          input.input.width-120px(data-prop='billingDate' id='invoice-billingDate' type='date')
        else
          p.width-120px#invoice-billingDate
      div
        label(for="invoice-currency") 通貨
        br
        if editing
          input.input.width-120px(data-prop='currency' id='invoice-currency' type='text' value='JPY' readonly='true')
        else
          p.width-120px#invoice-currency
    div
      div.float-left.mr-r-10px  
        label(for="invoice-paymentDate") 支払期日
        br
        if editing
          input.input.width-120px(data-prop='paymentDate' id='invoice-paymentDate' type='date')
        else
          p.width-120px#invoice-paymentDate
      div
        label(for="invoice-deliveryDate") 納品日
        br
        if editing
          input.input.width-120px(data-prop='deliveryDate' id='invoice-deliveryDate' type='date')
        else
          p.width-120px#invoice-deliveryDate
