div.margin-top-40p
  p エラー表示場所
  table#table-invoice-details.table.is-fullwidth.is-hoverable.table-fixed
    thead
      tr
        th.width-5.text-center 項目ID
        th.width-20.text-left 内容
        th.width-10.text-left 数量
        th.width-5.text-left 単位
        th.width-10.text-left 単価
        th.width-10.text-left 税
        th.width-10.text-center 小計（税抜）
        th.width-5.text-center 
    tbody#lines
      //- tr
      //-   th.text-center 1
      //-   td.text-center
      //-     input(data-prop='recCompany' name='content' type='text').width-320px
      //-   td.text-center
      //-     input(data-prop='recCompany' name='quantity' type='text') 
      //-   td.text-center
      //-     input(data-prop='recCompany' name='unit' type='text').width-80px
      //-   td.text-center
      //-     input(data-prop='recCompany' name='unitPrice' type='text')
      //-   td.text-center
      //-     select(data-prop='recCompany' name='taxType')
      //-       option(value='freeTax') 不課税
      //-       option(value='dutyFree') 免税
      //-       option(value='tax10p' selected) 消費税 10%
      //-       option(value='tax8p') 消費税(軽減税率) 8%
      //-       option(value='otherTax') その他消費税
      //-   td.text-right 1,111,111,111
      //-   td.text-center
      //-     a#btn-plus-invoice-detail
      //-       i.fas.fa-plus-circle

    template#line-template
      tr
        td.text-center
          input(data-prop='lineId' class='line-lineId' type='text')
        td.text-center
          input(data-prop='lineDiscription' class='line-lineDiscription' type='text').width-320px
        td.text-center
          input(data-prop='quantity' class='line-quantity' type='text') 
        td.text-center
          input(data-prop='unit' class='line-unit' type='text').width-80px
        td.text-center
          input(data-prop='unitPrice' class='line-unitPrice' type='text')
        td.text-center
          select(data-prop='taxType' class='line-taxType')
            option(value='freeTax') 不課税
            option(value='dutyFree') 免税
            option(value='tax10p' selected) 消費税 10%
            option(value='tax8p') 消費税(軽減税率) 8%
            option(value='otherTax') その他消費税
        td.text-right.line-subtotal
        td.text-center.line-action

    template#line-add-btn
      tr
        td
        td
        td
        td
        td
        td
        td
        td.text-center
          a#btn-plus-invoice-detail
            i.fas.fa-plus-circle

div.margin-top-20p
  .columns.m-0.p-0
    .column.m-0.p-0
    .column.m-0.p-0
        .columns.m-0.p-0
          .column.m-0.p-0
            | 小計（税抜）
          .column.m-0.p-0.text-right#subTotal
        .columns.m-0.p-0.taxGroup
          .column.m-0.p-0
            | 100円のJP 消費税 10%
          .column.m-0.p-0.text-right
            | 10
        .columns.m-0.p-0.taxGroup
          .column.m-0.p-0
            | 100円のJP 消費税 10%
          .column.m-0.p-0.text-right
            | 10
        .columns.m-0.p-0
          .column.m-0.p-0.text-inbox.text-inbox-common.text-inbox-subtitle
            | 合計 ￥
          .column.m-0.p-0.text-right.text-inbox-subtitle#total
            | 10000000
        .columns.m-0.p-0
          .column.m-0.p-0#taxTotal
            | 税額合計 111,111 円

template#taxGroup-template 
  .columns.m-0.p-0.taxGroup
    .column.m-0.p-0.taxGroupLabel
    .column.m-0.p-0.text-right.taxGroupValue