div.margin-top-40p
  #lines-error

  table#table-invoice-details.table.is-fullwidth.is-hoverable.table-fixed
    thead
      tr
        th.width-8.text-center 項目ID
        th.width-18.text-center 内容
        th.width-10.text-center 数量
        th.width-8.text-center 単位
        th.width-10.text-center 単価
        th.width-10.text-center 税
        th.width-8.text-center 小計（税抜）
        th.width-2.text-center 
        th.width-8.text-center 
    tbody#lines

    template#line-template
      tr
        td.text-center
          if editing
            input.input.placeholder-min(data-prop='lineId' class='line-lineId' type='text' placeholder='半角英数字 5文字')
          eles
            p.line-lineId
        td.text-center
          if editing
            input.input(data-prop='lineDescription' class='line-lineDescription' type='text' placeholder='半角全角 100文字')
          eles
            p.line-lineDescription
        td.text-center
          if editing
            input.input(data-prop='quantity' class='line-quantity' type='text' placeholder='0～999999999999') 
          eles
            p.line-quantity
        td.text-center
          if editing
            input.input.placeholder-min(data-prop='unit' class='line-unit' type='text' placeholder='半角全角 10文字')
          eles
            p.line-unit
        td.text-center
          if editing
            input.input(data-prop='unitPrice' class='line-unitPrice' type='text' placeholder='0～999999999999')
          eles
            p.line-unitPrice
        td.text-center
          if editing
            select.tax-type.select(data-prop='taxType' class='line-taxType')
              option(value='') 
              option(value='tax10p') 消費税 10%
              option(value='tax8p') 消費税(軽減税率) 8%
              option(value='nonTaxable') 非課税
              option(value='untaxable') 不課税
              option(value='taxExemption') 免税
              option(value='otherTax') その他消費税
          eles
            p.line-taxType
        td.text-right.line-subtotal.align-middle
        td.text-center.line-action.align-middle
        if editing
          td.text-center.button.discount-line-action.is-info#discount-btn 項目割引
        else 
          td

      - for (var x = 1; x < 4; x++)
        tr
          td.text-center 項目割引
          td.text-center
            if editing
              input.input.placeholder-min(data-prop='discountDescription' + x class='line-discountDescription' + x type='text' placeholder='割引内容 半角全角 100文字')
            eles
              p(class='line-discountDescription' + x)
          td.text-center
            if editing
              input.input(data-prop='discountAmount' + x class='line-discountAmount' + x type='text' placeholder='0～999999999999')
            eles
              p(class='line-discountAmount' + x)
          td.text-center
            if editing
              select.tax-type.select(data-prop='discountUnit' + x class='line-discountUnit' + x)
                    option(value='percent' selected) %
                    option(value='jpy') JPY
            eles
              p(class='line-discountUnit' + x)
          td.text-right.align-middle(class='line-discounttotal' + x)
          td
          td
          td
          if editing
            td.text-center.button.discount-line-del-action.is-danger#discount-btn 割引削除
          else
            td

    template#line-add-btn
      tr
        td
        td
        td
        td
        td
        td
        td
        td.text-center.align-middle
          a#btn-plus-invoice-detail.mr-auto
            i.fas.fa-plus-circle

  p#discount-msg 　　　※税込金額から割引する金額を入力して下さい。
  table#discount-table.discount-table.is-fullwidth.is-hoverable.table-fixed
    thead
      tr
        th.width-8.text-center 
        th.width-18.text-center 
        th.width-10.text-center 
        th.width-8.text-center 
        th.width-10.text-center 
        th.width-10.text-center 
        th.width-8.text-center 
        th.width-2.text-center 
        th.width-8.text-center 
    tbody#discounts
    template#invoice-discount
      - for (var x = 1; x < 4; x++)
        tr
          td.text-center 割引
          td.text-center
            if editing
              input.input.placeholder-min(data-prop='discountDescription' + x id='invoice-discountDescription' + x class='invoice-discountDescription' + x type='text' placeholder='割引内容 半角全角 100文字')
            eles
              p(class='invoice-discountDescription' + x)
          td.text-center
            if editing
              input.input(data-prop='discountAmount' + x id='invoice-discountAmount' + x class='invoice-discountAmount' + x type='text' placeholder='0～999999999999')
            eles
              p(class='invoice-discountAmount' + x)
          td.text-center
            if editing
              select.tax-type.select(data-prop='discountUnit' + x id='invoice-discountUnit' + x class='invoice-discountUnit' + x)
                    option(value='percent' selected) %
                    option(value='jpy') JPY
            eles
              p(class='invoice-discountUnit' + x)
          td.text-right.align-middle(class='invoice-discounttotal' + x)
          td
          td
          td
          if editing
            td.text-center.button.discount-line-del-action.is-danger#discount-btn 割引削除
          else
            td
    template#invoice-discount-add-btn
      tr
        td
        td.text-center.button.invoice-discount-action.is-info#invoice-discount-btn 割引行を追加
        td
        td
        td
        td
        td
        td

div.margin-top-20p
  .columns
    .column
    .column
      .columns.m-0.p-0
        .column.m-0.p-0
          | 小計（税抜）
        .column.m-0.p-0.text-right#subTotal
      .columns.m-0.p-0.taxGroup
        .column.m-0.p-0
          | 100円のJP 消費税 10%
        .column.m-0.p-0.text-right
          | 10
      .columns.m-0.p-0.taxGroup
        .column.m-0.p-0
          | 100円のJP 消費税 10%
        .column.m-0.p-0.text-right
          | 10
      .columns.m-0.p-0
        .column.m-0.p-0.text-inbox.text-inbox-common.text-inbox-subtitle
          | 合計 ￥
        .column.m-0.p-0.text-right.text-inbox-subtitle#total
          | 10000000
      .columns.m-0.p-0
        .column.m-0.p-0#taxTotal
          | 税額合計 111,111 円

template#taxGroup-template 
  .columns.m-0.p-0.taxGroup
    .column.m-0.p-0.taxGroupLabel
    .column.m-0.p-0.text-right.taxGroupValue