- var paymentsLength = Object.keys(payments).length
 if paymentsLength !== 0
  .box
   div
    p
     a.title-label.button#invisibleBtn ▲
     h3.title.paymentTitle 支払い条件と手段
    div#displayPaymentMethodField
     - for (var [key,value] of Object.entries(payments))
       div.paymentmean
        - for (var [subKey,subValue] of Object.entries(value))
          h3.paymentMethod.bulmalabel= subKey
          if subValue.length !==0
           table.table.paymentTable
            - for (var i =0; i < subValue.length; i++)
              tr
               th= subValue[i].item
               td= subValue[i].value

block append scripts
  script(src="/js/invoicePaymentMethod-page.js")
  link(rel='stylesheet', type='text/css', href='/css/invoicePaymentMethod.css')
