doctype html

block variables
  - var inputPattarnZenkakuHiragana = '^[^ -~｡-ﾟ\t]+$';　// 全角ひらがな
  - var inputPattarnZenkaku = '[^\x01-\x7E\xA1-\xDF]'; // 全角文字
  - var inputPattarnZenkakuKatakana = '^[ァ-ヶー　]+$';　// 全角カタカナ
  - var inputPattarnHankakuNumber = '[0-9]{7}'; //半角数値　7文字固定
  - var inputPattarnTellNumber = '^0\d{2,3}-\d{1,4}-\d{4}$' // 電話番号（-あり）
  - var inputPattarnMailAddress = '^[a-zA-Z0-9-_\.]+@[a-zA-Z0-9-_\.]+$' // メールアドレス（緩めの条件）
  - var inputPatternKaituPW = '^([a-zA-Z0-9]{4,10})$' // 開通パスワード 半角英数4～10文字


html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title #{title} - BConnectionデジタルトレード
      link(rel='stylesheet', type='text/css', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
      link(rel='stylesheet', type='text/css', href='/css/bulma.css')
      link(rel='stylesheet', type='text/css', href='/css/modal-fx.css')
      link(rel='stylesheet', type='text/css', href='/css/hover.css')
      link(rel='stylesheet', type='text/css', href='/css/style.css')
      link(rel='stylesheet', type='text/css', href='/css/animate.min.css')

  body.has-navbar-fixed-top
    .navbar.is-dark.is-fixed-top
        .navbar-brand.is-family-noto-sans-bold
          .navbar-item BConnectionデジタルトレード
          //- a.navbar-brand(href='/') BConnectionデジタルトレード
          a.navbar-item(href='/') 
            span.fas.fa-home
              | Home
          .navbar-item.right
            img.ncom-logo(src='../image/ts-app-digitaltrade-ncom-logo.svg')
    
    block content

    if messages.info
      #message-info(title= messages.info[0])
    
    block scripts
      script(src="/js/common-page.js")
      