doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title #{title} - BConnectionデジタルトレード
      link(rel='stylesheet', type='text/css', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
      link(rel='stylesheet', type='text/css', href='/css/bulma.css')
      link(rel='stylesheet', type='text/css', href='/css/modal-fx.css')
      link(rel='stylesheet', type='text/css', href='/css/hover.css')
      link(rel='stylesheet', type='text/css', href='/css/style.css')
      link(rel='stylesheet', type='text/css', href='/css/animate.min.css')

  body.has-navbar-fixed-top
    .navbar.is-dark.is-fixed-top
        .navbar-brand.is-family-noto-sans-bold
          .navbar-item BConnectionデジタルトレード
          //a.navbar-brand(href='/') BConnectionデジタルトレード
          a.navbar-item(href='/') 
            span.fas.fa-home
            | Home
        .navbar-menu
          .navbar-end
            .navbar-item.is-hidden-touch.p-0
              img.logo-ncom(src='../image/ts-app-digitaltrade-ncom-logo.svg')
        if customerId != 'none'
          .navbar-end
            .navbar-item
              //a.button.is-info.show-modal(data-target='accountinfo-modal') アカウント情報
    
    .modal.modal-fx-fadeInScale#accountinfo-modal
      .modal-background.cancel-button(data-target='accountinfo-modal')
      .modal-card
        header.modal-card-head
          p.modal-card-title アカウント情報
          button.delete(data-target="accountinfo-modal")
        section.modal-card-body
          //p サポートアプリより問い合わせの際は、以下のお客様番号をご利用ください。
          table.table
            tbody
            -var aryLabel = ["お客様番号"]
            -var aryDataTarget = [customerId]
              each val, index in aryLabel
                tr
                  th #{val}
                  td #{aryDataTarget[index]}
        footer.modal-card-foot
    
    block content

    if messages.info
      #message-info(title= messages.info[0])
    
    block scripts
      script(src="/js/common-page.js")
      