
doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title #{title} - BConnectionデジタルトレード
      link(rel='stylesheet', type='text/css', href='https://use.fontawesome.com/releases/v5.6.1/css/all.css')
      link(rel='stylesheet', type='text/css', href='/css/bulma.css')
      link(rel='stylesheet', type='text/css', href='/css/modal-fx.css')
      link(rel='stylesheet', type='text/css', href='/css/hover.css')
      link(rel='stylesheet', type='text/css', href='/css/style.css')
      link(rel='stylesheet', type='text/css', href='/css/animate.min.css')

  body.has-navbar-fixed-top
    .navbar.is-dark.is-fixed-top
        .navbar-brand.is-family-noto-sans-bold
          .navbar-item BConnectionデジタルトレード
          //- a.navbar-brand(href='/') BConnectionデジタルトレード
          a.navbar-item(href='/') 
            span.fas.fa-home
              | Home
          .navbar-item.right
            img.ncom-logo(src='../image/ts-app-digitaltrade-ncom-logo.svg')
    
    block vars
      - var inputPattarnZenkakuHiragana = '^[^ -~｡-ﾟ\t]+$'　// 全角ひらがな
      - var inputPattarnZenkaku = '[^\x01-\x7E\uFF61-\uFF9F]+$' // 全角文字
      - var inputPattarnZenkakuKatakana = '^[ァ-ヶー　]+$'　// 全角カタカナ
      - var inputPattarnHankakuNumber = '[0-9]{7}' //半角数値　7文字固定
      - var inputPattarnTellNumber = '^([0-9]{1,4})-([0-9]{1,4})-([0-9]{1,4})'// 電話番号（-あり）
      - var inputPattarnMailAddress = '^[a-zA-Z0-9-.]+@[a-zA-Z0-9-.]+$' // メールアドレス（緩めの条件）      
      - var inputPatternKaituPW = '^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d]{8,}$' // 開通パスワード 大文字小文字数字必須 8文字以上      
      - var inputPatternCampaignCode = '^([a-zA-Z0-9]{1,10})$' // キャンペーンコード 半角英数
      - var inputPattarnHankakuSeisu = '^[1-9][0-9]{0,6}$' //１以上の半角整数
      - var inputPatternEngNum = '^[a-zA-Z0-9+]*$' // 英数字のみ
    block content

    if messages.info
      #message-info(title= messages.info[0])
    
    block scripts
      script(src="/js/common-page.js")