extends layout

block content
  .max-width
    section.hero.is-small.is-com
      .hero-body-noImage
        .title.is-family-noto-sans ネットワーク接続状況ダウンロード
    .columns.is-centered
     .column.is-11
      .box
        .has-text-centered
         p つながり申請に関してテナント情報を一括でCSV形式でダウンロードします
        .columns.is-centered
         .column.is-4
          label.input-label ■接続済み
         .column.is-2
          form(action="#")
           input.input#connectionsDownLoad(type='hidden' name="downloadCategory" value="connections")
           button.button.is-info(type="submit" formaction="/networkDownload" formmethod="POST") ダウンロード
        .columns.is-centered
         .column.is-4
          label.input-label ■つながり申請中
         .column.is-2
          form(action="#")
           input.input#pendingDownLoad(type='hidden' name="downloadCategory" value="pending")
           button.button.is-info(type="submit" formaction="/networkDownload" formmethod="POST") ダウンロード
        .columns.is-centered
          .column.is-4
           label.input-label ■つながり承認待ち
          .column.is-2
           form(action="#")
            input.input#requestsDownLoad(type='hidden' name="downloadCategory" value="requests")
            button.button.is-info(type="submit" formaction="/networkDownload" formmethod="POST") ダウンロード
  include footer 
