extends layout

include listPdfInvoiceCommonLayout

block append scripts
  script(src="/js/lib/utils.js")
  script(src="/js/pdfInvoiceList-page.js")
  link(rel='stylesheet', type='text/css', href='/css/pdfInvoiceList.css')
