extends layout

block content
  .hero.is-large
    .hero-body
      .container

  .container.is-max-widescreen
    .level-left.is-family-sans-serif
      .level-item
        p.title.mb-4 Apps
    .columns.is-desktop.is-family-noto-sans
      .column.hvr-float
        .box
          a.show-modal(data-target='support-modal')
            .media.appdesc
              .media-left
                img.app-icon(src='../image/ts-app-digitaltrade-func-icon-support.svg')
              .media-content
                p.title.is-5 サポート
                p 設定方法、利用方法に関するお問い合わせが無料で利用できます。
                p その他FAQを参照できます。
                //- p.tag.is-link.is-normal 有効化されています
      .column
      .column

    //- .level-left.is-family-sans-serif
    //-   .level-item
    //-     p.title.mb-4 Tools

    //- .columns.is-desktop.is-family-noto-sans
    //-   .column.hvr-float
    //-     .box
    //-       a.show-modal(data-target='createdocument-modal')
    //-         .media.appdesc
    //-           .media-left
    //-             img.app-icon(src='../image/ts-app-createdocument.svg')
    //-           .media-content
    //-             p.title.is-5 文書の新規作成
    //-             p Tradeshiftの画面で文書を作成します。
    //-             br
    //-             p 
    //-             p.tag.is-link.is-normal Powered by Tradeshift
    
    //-   .column.hvr-float
    //-     .box
    //-       a(href='https://'+TS_HOST+'/#/Tradeshift.DocumentManager' target='_blank')
    //-         .media.appdesc
    //-           .media-left
    //-             img.app-icon(src='../image/ts-app-documentmanager.svg')
    //-           .media-content
    //-             p.title.is-5 文書管理
    //-             p Tradeshiftの画面で文書を管理します。
    //-             br
    //-             p 
    //-             p.tag.is-link.is-normal Powered by Tradeshift
    //-   .column
    
    .modal#support-modal
      .modal-background.cancel-button(data-target='support-modal')
      .modal-card.is-family-noto-sans
        header.modal-card-head
          p.modal-card-title サポート
          button.delete(data-target="support-modal")
        section.modal-card-body
          nav.panel
            a.panel-block(href='https://support.ntt.com/bconnection/faq/search' target='_blank') 
              span.panel-icon
                i.fas.fa-file
              p よくある質問（日本語）を参照する
            a.panel-block.show-modal(data-target='support-confirmation-modal')
              span.panel-icon
                i.fas.fa-file
              p 設定方法、ご利用方法のお問い合わせ
        footer.modal-card-foot

            //a.panel-block(href='https://support.ntt.com/bconnection/inquiry/input/pid2200000saa' target='_blank')

    .modal#support-confirmation-modal
      .modal-background.cancel-button(data-target='support-confirmation-modal')
      .modal-content.is-family-noto-sans
        .card
          .card-content
            if userRole === "a6a3edcd-00d9-427c-bf03-4ef0112ba16d"
              p お問い合わせの際は、問い合わせフォームに以下のお客様番号をご入力ください。
              .field.has-addons
                .control.is-expanded
                  input.input#tenantId(type='text' value='BCD-F-00-'+tenantId)
                .control
                  a.button#copy-btn(data-clipboard-target="#tenantId")
                    | Copy                
              a.button.is-success.is-pulled-right(href='https://support.ntt.com/bconnection/inquiry/input/pid2200000saa' target='_blank') お問い合わせページを開く
            else
              p お問い合わせは、アカウント管理者のみ可能です。
              p ※一般ユーザからお問い合わせの際には、アカウント管理者にご相談の上、お問い合わせください。
          footer.card-footer
            p.card-footer-item


    .modal#createdocument-modal
      .modal-background.cancel-button(data-target='createdocument-modal')
      .modal-card.is-family-noto-sans
        header.modal-card-head
          p.modal-card-title 文書の新規作成
          button.delete(data-target="createdocument-modal")
        section.modal-card-body
          nav.panel
            a.panel-block(href='https://'+TS_HOST+'/#/Tradeshift.InvoiceLG/create' target='_blank') 
              span.panel-icon
                i.fas.fa-file
              p 請求書を作成する
            a.panel-block(href='https://'+TS_HOST+'/#/Tradeshift.OrderLG' target='_blank')
              span.panel-icon
                i.fas.fa-file
              p 注文書を作成する
            a.panel-block(href='https://'+TS_HOST+'/#/Tradeshift.QuoteLG/create' target='_blank')
              span.panel-icon
                i.fas.fa-file
              p 見積書を作成する
        footer.modal-card-foot

  include footer

block append scripts
  script(src="/js/portal-page.js")