extends layout

block content
  .container
    div.title-box-journallzing
      h4.title-text-journallzing.text-inbox #{title}
    .box
      include readonlyApprovalInboxHeader
      include readonlyApprovalInboxInvoiceLines
      include readonlyApprovalInvoiceFooter
      include readonlyApprovalInboxApprovRoute
      .grouped-button
        a.button.mr-6(href='/inbox/1')  戻る

  include footer

block append scripts
  script(src="/js/approvalInbox-page.js")
  link(rel='stylesheet', type='text/css', href='/css/approvalInbox.css')