extends layout

block content
  .container
    div.title-box-journallzing
      h4.title-text-journallzing.text-inbox 仕訳情報設定
    .box
      include readonlyInvoiceHeader
      include readonlyInvoiceLines
      include readonlyInvoiceFooter
      include readonlyInvoiceOptions
      include readonlyInvoicePaymentMethod
      if requestApproval
        include approvalInboxApprovRoute
      .grouped-button
        a.button.mr-6(href='/inboxList/1')  戻る

  include footer

block append scripts
  link(rel='stylesheet', type='text/css', href='/css/inbox.css')