extends layout

include registCommonLayout

block append scripts
  script(src="/module/getElements.js" type="module")
  script(src="/js/registSubAccountCode-page.js" type="module")
  link(rel='stylesheet', type='text/css', href='/css/registSubAccountCode.css')