extends layout

include registCommonLayout

block append scripts
  script(src="/js/lib/utils.js")
  script(src="/js/registSubAccountCode-page.js")
  link(rel='stylesheet', type='text/css', href='/css/registSubAccountCode.css')