.box
  .column.m-0
    .column.px-0
      p.text-inbox.text-inbox-subtitle.text-inbox-common.text-left-lines 承認ルート
    .column.pl-4.pt-0
      a.button.is-link#btn-approveRouteInsert.show-modal(data-target='approveRoute-modal') 承認ルート選択