if rejectedUser && rejectedUser.message !== null && rejectedUser.message.length !== 0
 .box
   .columns.m-0
     .column-header#rejectedUserMessage
       | #{rejectedUser.name}さんからのメッセージ
   .columns.m-0
     .column-header.text-inbox-common#prevUserMessageBody
       | #{rejectedUser.message}