.box
  .columns.m-0
    .column-header.text-inbox.text-inbox-subtitle.text-inbox-common
      | メッセージ 
  .column-header
    textarea.input-comment-size(id='inputMsg' rows='10' maxlength='1500' placeholder='1,500文字まで')
    div(id='msgCount') (0/1500)
