extends layout

block content
  .hero.is-large
    .hero-body
      .container

  .section.is-overlay.mt-6
    .container.is-max-widescreen.is-family-noto-sans
      form#form(method="post")
        article.panel.is-info
          h2.panel-heading デジタルトレードアプリご利用にあたって
          .panel-block
            .container
              .columns.is-centered: .column.is-four-fifths
                .field.is-grouped.is-grouped-left.is-block
                  label.label 確認事項
                  span 下記の規約に基づいてご契約をいただいております。ご利用前に確認をお願いします。
                iframe#terms-of-service(src="../html/terms-of-service_20220308.html" width="100%" height="600px")

              .columns.is-centered: .column.is-four-fifths
                .field.is-horizontal.is-grouped.is-grouped-centered
                  .control: label.checkbox
                    //- CSRF対策
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input.is-normal#check(name="termsCheck" type="checkbox" required="required" disabled="disabled")
                  span.checkboxtext 確認しました（最後まで利用規約をスクロールしてください）
              .columns.is-centered: .column.is-four-fifths
                .field.is-grouped.is-grouped-centered
                  .control
                    button.button.is-link#next-btn(type="submit" disabled="disabled") 次へ

        .modal.modal-fx-fadeInScale#confirmregister-modal
          .modal-background.cancel-button(data-target='confirmregister-modal')
          .modal-card
            header.modal-card-head
              p.modal-card-title 以下の内容で利用登録します。
              button.delete(type="button" data-target="confirmregister-modal")
            section.modal-card-body
              table.table
                tbody
                -var aryLabel = ["利用規約"]
                -var aryFormName = ["termsCheck"]
                  each val, index in aryLabel
                    tr
                      th #{val}
                      td(id= aryFormName[index])

            footer.modal-card-foot
              a.button.cancel-button.mr-6(data-target='confirmregister-modal') キャンセル
              button.button.is-success#submit(type="submit" formaction="/user/register" formmethod="POST") 登録
      include footer

block append scripts
  script(src="/js/register-page.js")
