.planStatus{
  border-radius: 6px;
  padding: 0;
  height: 50px;
  font-weight: bold;
  display: flex;
  border: solid 1px #dbdbdb;
  margin: 5px;
}
.planStatus .planTitle{
  background-color:#dbdbdb ;
}
.planStatus .planTitle span{
  color: #4a4a4a;
}
.planStatus span,.planStatus a{
  margin: 12px 15px 14px;
  display: inline-block;
}

