.planStatus {
  border-radius: 6px;
  padding: 0;
  height: 50px;
  font-weight: bold;
  display: flex;
  border: solid 1px #dbdbdb;
  margin: 5px;
}
.planStatus .planTitle {
  background-color: #dbdbdb;
}
.planStatus .planTitle span {
  color: #4a4a4a;
  font-size: 15px;
}
.planStatus span,
.planStatus a {
  margin: 12px 15px 14px;
  display: inline-block;
}

.notPointer {
  pointer-events: none;
}

.infoWrap .infoTitle{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin-bottom: .5rem;
}
.infoWrap .infoTitle::after{
  content: '';
  position: absolute;
  width: 24px;
  border-bottom: 3px solid #FDD000;
  top: 110%;
  left: 0;
  right: 0;
  margin: auto;
}
.infoWrap .media-content td,.infoWrap .media-content th{
  padding:.5rem 0;
  border-bottom: 1px dotted #444!important;
}
.infoWrap .box{
  display: flex;
  position: relative;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.infoWrap .box .media-contentMore{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 1.25rem;
}
.infoWrap .box .media-contentMore a{
  background-color: #044484;
  color: #fff;
  border-radius: 65px;
  margin: 0 0.5rem;
}
.infoWrap table{
  margin-bottom: 3.5rem;
}

.iconBox .appdesc{
  height: 90px;
}
.iconBox p{
  font-size: 14px;
  color:#363636 ;
  margin-bottom: .5rem;
}
.iconBox >p{
  min-height: 65px;
}
.iconBox a{
  font-size: 15px;
  color: #004386;
  display: block;
  background-color:#E8F7FF ;
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.iconBox a::after{
  content: "";
  float: right;
  background-image: url(../image/r-arrow.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  transform: translate(7px, 4px);
}
.iconBox p.title{
  height:40px ;
}
.iconBox .smaTx{
  font-size: 12px;
  text-indent: -12px;
  padding-left: 12px;
}
.iconBox .app-icon{
  height: 60px;
  width: 100%;
  margin-bottom: .75rem;
}
.iserviceBox{
  height: 100%;
}
.iserviceBox a div{
  font-weight: bold;
  font-size: 19px;
  color:#363636 ;
  min-height: 50px;
}
.iserviceBox a p{
  font-weight: normal;
  font-size: 14px;
}

/* 共通 */
body{
  font-size: 14px;
}
.topTop{
  background-color: #004386;
  height: 60px;
  justify-content: space-between;
  padding: .5rem;
}
.heroBefore{
  background-color: #fff;
  height: 30px;
  border-bottom: 1px solid #ccc;
}
.topTitle{
  font-size: 23px;
  font-weight: bold;
  color: #fff;
  background-color: #004386;
  padding: .75rem 1rem;
  margin: 2rem 1.5rem 0;

}
.newCmn a:hover{
  opacity: .8;
}