#check-modal > div.modal-card.is-family-noto-sans > section > table > tbody > tr > td:nth-child(1) {
  width: 150px !important;
}
#displayInvisible,
#departmentResultDisplayInvisible {
  width: 100%;
}

#form > article > div > div > div > div > div > div.columns.is-fullwidth > div > label {
  margin-bottom: 10px;
}

#displayInvisible > div,
#displayInvisible > div > table,
#departmentResultDisplayInvisible > div,
#departmentResultDisplayInvisible > div > table {
  width: 100%;
  max-height: 300px;
  overflow: auto;
  margin-bottom: 20px;
}

#displayInvisible > div > table > thead > tr,
#departmentResultDisplayInvisible > div > table > thead > tr {
  position: sticky;
  top: 0;
  transform: translate(0px, -20px);
  height: 45px;
  background-color: white;
  z-index: 5;
}

#displayInvisible > div > table > thead > tr > td,
#departmentResultDisplayInvisible > div > table > thead > tr > td {
  position: sticky;
  top: 0;
  background-color: hsl(204deg 71% 53%);
  color: white;
  z-index: 5;
  transform: translate(0px, 20px);
  height: 45px;
  vertical-align: bottom;
}

#displayFieldBody > tr > td:hover,
#departmentResultDisplayInvisible > tr > td:hover {
  cursor: pointer;
}

/* 
  ・勘定科目検索時のテーブル高さ
*/
#displayInvisible,
#departmentResultDisplayInvisible {
  max-height: 290px;
}
