
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

.is-family-noto-sans {
    font-family: "Noto Sans JP";
}
.is-family-noto-sans-bold {
    font-family: "Noto Sans JP";
    font-weight: bold;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
  padding-left: 10px
}

/*register*/
input[aria-invalid="true"], textarea[aria-invalid="true"] {
    border: 1px solid #f00;
    box-shadow: 0 0 4px 0 #f00;
}
input:invalid:focus {
    border: 1px solid #f00;
    box-shadow: 0 0 4px 0 #f00;
}

input[readonly]{
    background-color:whitesmoke;
    border-color:whitesmoke;
    box-shadow: none;
    color:#7a7a7a;
    cursor: not-allowed;
}

.appdesc {
  color: hsl(0, 0%, 21%);
}
.appdesc:hover {
    color: hsl(217, 71%, 53%)
}

iframe {
  border: 1px gray solid;
}

.app-icon {
    height: 5rem;
    width: 5rem;
}
.panel {
    background-color: white;
}

.hero-body {
    background-image: url('../image/bannerTop.png');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}
.main-container {
    background-repeat: no-repeat;
    height: 380px;
    width: 100%;
    background-color: white;
    color: white;
    padding-top: 30px;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "NotoSansCJKjp-Reqular";
    padding: 80px;
    margin-bottom: 30px;
}

.cloud-image {
    padding-bottom: 20px;
    margin: auto;
}

    .cloud-image img {
        width: 100%;
        height: 100%;
    }

.success-text {
    padding-bottom: 20px;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
}

.description {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.content {
    box-sizing: border-box;
    max-width: 450px;
    position: relative;
    margin: auto;
}

.tweet-container {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 50px;
    margin: 0 20px;
    position: absolute;
    left: -55px;
    top: 90px;
}

    .tweet-container img {
        width: 100%;
        height: 100%;
    }

.content-body {
    min-width: 400px;
}

.col-md-4 {
    color: black;
}
