@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

.is-family-noto-sans {
  font-family: 'Noto Sans JP';
}
.is-family-noto-sans-bold {
  font-family: 'Noto Sans JP';
  font-weight: bold;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

input[type='checkbox'] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext {
  /* Checkbox text */
  font-size: 110%;
  display: inline;
  padding-left: 10px;
}

/*register*/
input[aria-invalid='true'],
textarea[aria-invalid='true'] {
  border: 1px solid #f00;
  box-shadow: 0 0 4px 0 #f00;
}
input:invalid:focus {
  border: 1px solid #f00;
  box-shadow: 0 0 4px 0 #f00;
}

input[readonly] {
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: none;
  color: #7a7a7a;
  cursor: not-allowed;
}

.appdesc {
  color: hsl(0, 0%, 21%);
}
.appdesc:hover {
  color: hsl(217, 71%, 53%);
}

iframe {
  border: 1px gray solid;
}

img.logo-ncom {
  height: 3rem;
  max-height: 3rem; /* override bulma.css */
}
.app-icon {
  height: 80px;
  width: 80px;
}
.ncom-logo {
  height: 28px;
}
.panel {
  background-color: white;
}

.hero-body {
  background-image: url('../image/ts-app-digitaltrade-banner.svg');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.main-container {
  background-repeat: no-repeat;
  height: 380px;
  width: 100%;
  background-color: white;
  color: white;
  padding-top: 30px;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'NotoSansCJKjp-Reqular';
  padding: 80px;
  margin-bottom: 30px;
}

.col-md-4 {
  color: black;
}

/* navbar-itemをひとつ右寄せするための設定 */
.navbar-item.right {
  margin-left: auto;
}
/* navbarを上書き */
.navbar {
  align-items: stretch;
  display: block;
}

.hero.is-com {
  background-color: #044484;
  color: #fff;
}
.hero.is-com .title {
  color: #fff;
}
.hero.is-com .subtitle {
  color: #fff;
}

/* columns -0.75rem を上書き */
.columns {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
}

.uploader {
  display: flex;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.uploader div {
  margin: 0 0 0.5rem;
  color: #5f6982;
}

.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #454cad;
  border: #454cad;
  cursor: pointer;
}

.label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#file-upload {
  display: none;
}

.response {
  display: none;
}

.box-large {
  width: 600px;
}

.select-register {
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  max-width: 100%;
  width: 100%;
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  height: 3em;
}

.confirmation-item {
  width: 45%;
  max-width: 45%;
  min-width: 45%;
}

.confirmation-content,
.checkData {
  width: 55%;
  max-width: 55%;
  min-width: 55%;
  word-break: break-all;
  height: 41px;
}

.hidetext {
  -webkit-text-security: disc;
  -moz-text-security: disc;
  -ms-text-serurity: disc;
}

.modal-address-foot {
  border-top: 1px solid #fff;
  background-color: #fff;
}

.btnMarginLeft {
  margin-left: 20px;
}

.btnMarginRight {
  margin-right: 20px;
}

.is-invisible {
  display: none;
}

.chkMarginLeft {
  margin-left: 20px;
}
