html {
  scroll-padding-top: 3.5em;
}

.userGuide {
  margin: 0 auto;
  max-width: 980px;
}

.userGuide #accordion .include-accordion li button::after {
  color: #044484;
}

.userGuide .panel-block {
  padding: 1rem 2.5rem;
}

.userGuide .lead {
  color: #044484;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.userGuide h3 {
  background: #044484;
  color: #fff;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: .6rem;
}

.userGuide-category a {
  display: block;
  background: #D2F1FF;
  color: #044484;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  padding: 1rem;
  font-weight: bold;
  font-size: 0.87rem;
}

.userGuide-category a img {
  display: block;
  max-width: 88px;
  margin: 0 auto .5rem auto;
}

.userGuide-feature {
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  margin: .75rem;
}

.userGuide-feature-title {
  background-color: #D2F1FF;
  padding: 1rem 1.5rem;
  border-radius: 4px 4px 0 0;
}

.userGuide-feature-title span {
  border-left: 5px solid #044484;
  color: #044484;
  padding-left: .5rem;
  font-weight: bold;
}

.userGuide-feature-title:hover {
  background-color: #b9e9ff;
}

.userGuide-feature-contants {
  padding: .5rem 1.5rem;
}

.userGuide-feature-contants h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.userGuide-feature-contants h5 .panel-icon {
  color: #044484;
  font-size: 1.2rem;
  padding-top: 2px;
  margin-right: 0.5rem;
}

.userGuide-feature-contants ul {
  margin-left: 2rem;
  font-size: 0.9375rem;
}

.userGuide-feature-contants ul li {
  position: relative;
  padding-left: 0.85rem;
  margin-bottom: .25rem;
}

.userGuide-feature-contants ul li::before {
  content: '\f0da';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 1px;
}
