* {
  padding: 4px;
  font-family: sans-serif;}
h2 {
  margin: 10px 10px 15px 10px;
  font-weight: bold;
  font-size: 200%;
  padding: 20px 0px 0px 0px;
}
h3 {
  margin: 50px 10px 5px 10px;
  font-size: 150%;
}
h4 {
  margin: 20px 10px 5px 10px;
}
p {
  margin: 5px 10px 5px 10px;
}
p.indent {
  margin: 5px 10px 5px 10px;
  padding-left: 1.8em;
  text-indent: -1.8em;
}
span.title_h3 {
  margin: 30px 10px 5px 10px;
  color: #5e6ec1;
}
span.title_h4 {
  margin: 30px 10px 5px 20px;
  text-decoration: underline;
}
span.inum {
  margin: 5px 10px 5px -4px;
  font-weight: bold;
}

