<!DOCTYPE html>
<html lang="ja-JP">

<head>
	{{> header title='デジタルトレード 商奉行クラウド連携'}}
</head>

<body>
	{{> navber}}
	<div class="hero is-medium">
		<div class="hero-body obc-connect">
			<div class="container has-text-centered">
				<img src="/obc/images/ts-app-digitaltrade-banner.svg" width="600" height="74"/>
				<p class="title">商奉行<sup>&reg;</sup>クラウド連携</p>
			</div>
		</div>
	</div>
	<div class="container is-max-widescreen">
		<div class="columns is-desktop is-family-noto-sans">
			<div class="column hvr-float">
				<div class="box">
					<a href="/bugyo/invoice_format_list" class="show-modal" data-target="demo-modal">
						<div class="media appdesc obc-connect">
							<div class="media-content">
								<p class="title is-5">請求書フォーマット管理</p>
								<p>請求書フォーマットの新規作成・編集・削除が行えます。 </p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="column hvr-float">
				<div class="box">
					<a href="/bugyo/settings_connection" class="show-modal" data-target="demo-modal">
						<div class="media appdesc obc-connect">
							<div class="media-content">
								<p class="title is-5">発行先とフォーマットの選択</p>
								<p>①請求書を発行する取引先を選択・登録できます。</p>
								<p>②取引先ごとに請求書のフォーマットを設定できます。</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="column hvr-float">
				<div class="box">
					<a href="/bugyo/send_invoice" class="show-modal" data-target="demo-modal">
						<div class="media appdesc obc-connect">
							<div class="media-content">
								<p class="title is-5">請求書発行</p>
								<p>①商奉行クラウドから請求締め情報を取得します。</p>
								<p>②請求書にファイルを添付できます。</p>
								<p>③請求書を一括で発行できます。</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
